---

---
.working {
    border: ;
    background-color: #4d0000;
    padding: 4px;
    display: flex;
}
.working p {
    text-align: justify;
    color: white;
}
.warning {
    border: 3px solid #f4cccc;
   background-color: #e6b8af;
    padding: 4px;
    display: flex;

}
.warning-experimental {
    border: 3px solid #f4cccc;
   background-color: #e6b8af;
   width: 100%;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
}

.warning p {
    text-align: justify;
}

.warning-tip-icon {
    width: 5%;
}
.tool-icon {
    width: 3%
}
.tool-icon-for-title{
    width: 10%;
}

.icon-container {
    text-align: center
}
.icon-for-title {
    text-align: center
}

.tip {
    border: 3px solid #d9ead3;
    background-color: #b6d7a8;
    padding: 4px;
    display: flex;
  
}
.tip p {
    text-align: justify;
}

.note {
    border: 3px solid #fff2cc;
   background-color: #ffe599;
    padding: 4px;
    display: flex;
}
.note p {
    text-align:justify;
}

.illustration-container {
    float: right
}

.links-pages {
    background-color: #d9d9d9;
    padding: 1px;
    width: 500px;
    text-align: center;
}
.links-pages p {
    text-align: center;
}

.technical-details {
    background-color: #99ddff;
    padding: 4px;
    display: flex;
}
.technical-details p {
    text-align:justify
}
.hangingindent {
    padding-left: 50px;
    text-indent: -50px;
}

/* Tooltip container */
.tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black; /* to have dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute; /* Position the tooltip */
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;

}

  /* Show the tooltip text when the mouse is over the tooltip container */
  .tooltip:hover .tooltiptext {
      visibility: visible;
  }

/*these are for the collapsible*/
.container{width:800px; margin:10px auto;}

.panel {
    margin-bottom:4px;
}
/*.panel-title{margin:10px 0;}*/
.panel-heading {
    padding:10px;
    display: inline-block;
    width: 97%;
    background-color: #b6d7a8;
    border: 1px solid #d9ead3;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.panel-body{
    border: 1px solid #f0f0f0;
    border-top: 0;
    background:#fafafa;
    padding: 0 10px;
    width: 97%;
}

.hidden-element {
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    -webkit-transition: height .3s;
    transition: height .3s;
    height: 0;
    overflow: hidden;
}
